<div class="modal-header">
  <span>Please write your review</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <textarea rows="5" placeholder="Text Area" class="form-control"></textarea>
  <div>
    <ngb-rating [(rate)]="heartRate" max=5>
      <ng-template let-fill="fill">
              <span class="star fill" [class.filled]="fill === 100">
                <i class="ion-ios-heart" *ngIf="fill === 100"></i>
                <i class="ion-ios-heart-outline" *ngIf="fill !== 100"></i>
              </span>
      </ng-template>
    </ngb-rating>
    <span class="current-rate">{{ heartRate }}</span>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-hero-success" (click)="closeModal()">Save changes</button>
</div>
