<div *ngFor="let o of orders; let i = index">
  <div class="row">
    <div class="col-md-7">
      <nb-card>
        <nb-card-header>
          {{o.restaurant}}[{{o.date}}]
          <button class="btn btn-hero-success btn-tn" (click)="showReview()">Review {{o.restaurant}}</button>
        </nb-card-header>
        <nb-card-body>
          <blockquote *ngFor="let f of o.food" class="blockquote">
            <div class="mb-0 row">
              <div class="col-md-4">
                {{f.title}}
              </div>
              <div class="col-md-4 offset-md-4">
                <button class="btn btn-hero-success btn-tn" (click)="showReview()">Review {{f.title}}</button>
              </div>
            </div>
            <footer class="blockquote-footer">Order amount: {{f.amount}} Price: {{f.price}}</footer>
          </blockquote>
        </nb-card-body>
      </nb-card>

    </div>
  </div>
</div>

