<div class="row">
  <div class="col-md-2">
    <nb-card>
      <nb-card-header>Find Restaurant</nb-card-header>
      <nb-card-body>
        <div class="input-group input-group-sm">
          <input type="text" placeholder="Restaurant name" class="form-control"/>
        </div>
        <div class="input-group input-group-sm">
          <input type="password" placeholder="Location" class="form-control"/>
        </div>
        <div class="input-group input-group-rounded  input-group-sm">
          <input type="text" placeholder="Food type" class="form-control"/>
        </div>
        <hr/>
        <div class="form-group form-group-sm">
          <label>Payment type</label>
          <label class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="customRadio">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Online</span>
          </label>
          <label class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="customRadio" checked>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Direct</span>
          </label>
        </div>
        <div class="input-group input-group-sm">
          <input type="text" placeholder="Category" class="form-control"/>
        </div>
        <div class="form-group  input-group-sm">
          <input type="text" placeholder="Ingredients" class="form-control"/>
          <small class="form-text">Enter ingredients separated by space
          </small>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-10">
    <nb-card [size]="xlarge" *ngFor="let res of restaurants">
      <nb-tabset fullWidth>
        <nb-tab tabTitle="{{res.name}}">
          <div class="container">
            <br/>

            <div class="row">
              <div class="col-lg-3">
                <img src="././assets/images/{{res.image}}.jpg" width="200" height="200" style="border-radius: 5%">
              </div>
              <div class="col-lg-9">
                {{res.description}}
              </div>
            </div>
            <hr/>
          </div>

        </nb-tab>
        <nb-tab tabTitle="Food">
          <br/>
          <div class="container" *ngFor="let f of food">
            <div class="row">
              <div class="col-lg-3">
                <h5>{{f.name}}</h5>
                <img src="././assets/images/{{f.image}}.jpg" width="200" height="150" style="border-radius: 5%">
              </div>
              <div class="col-lg-9">
                <div class="row">
                  <div class="col-lg-12">
                    {{f.description}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 offset-lg-9">
                    <button class="btn btn-hero-success btn-demo">Order</button>
                  </div>
                </div>
              </div>
            </div>
            <hr/>
          </div>

        </nb-tab>
        <nb-tab tabTitle="Reviews">
          <br/>
          <div class="container" *ngFor="let r of reviews">
            <div class="row">
              <div class="col-lg-3">
                <h5>{{r.type}}</h5>
              </div>
              <div class="col-lg-9">
                <div class="row">
                  <div class="col-lg-12">
                    {{r.comment}}
                  </div>
                </div>
              </div>
            </div>
            <hr/>
          </div>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>

</div>

