<nb-card size="large">
  <nb-tabset fullWidth>
    <nb-tab tabTitle="Food">
      <div class="stats-month" *ngFor="let f of food">
        <div>
          <span class="month">{{ f.name }}
                      <img src="././assets/images/{{f.image}}.jpg" width="50" height="50" style="border-radius: 5%">

          </span>
        </div>
        <div class="results">
          <b>{{ f.name}}</b> x 3 / <b>130</b> RSD
        </div>
      </div>
    </nb-tab>
    <nb-tab tabTitle="Delivery info">

      <nb-card>
        <nb-card-body>


          <div class="input-group input-group-sm">
            <input type="text" placeholder="User name" class="form-control"/>
          </div>
          <div class="input-group input-group-sm">
            <input type="password" placeholder="Location" class="form-control"/>
          </div>
          <div class="input-group input-group-sm">
            <input type="text" placeholder="telephone" class="form-control"/>
          </div>
          <hr/>
          <div class="form-group form-group-sm">
            <label>Payment type</label>
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="customRadio">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Online</span>
            </label>
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="customRadio" checked>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Direct</span>
            </label>
          </div>
          <button class="btn btn-hero-success btn-demo">Finish your order</button>
        </nb-card-body>
      </nb-card>
    </nb-tab>
  </nb-tabset>
</nb-card>
